@font-face {
  font-family: 'Redaction 50';
  src: url('typo/Redaction_50-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: ;
  src: url() format();
  font-weight: ;
}

@font-face {
  font-family: 'Redaction 10';
  src: url('typo/Redaction_10-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('typo/Redaction_35-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('typo/Redaction_50-Bold.woff2') format('woff2');
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  cursor: url('logo/cursor.svg'), auto;
}


/* img */
img {
  width: 100%;
}


/* HEADER */

header {
  top: 0;
  margin-left: 2%;
  position: fixed;
  width: 95%;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  border-bottom: 1px solid;
  border-color: white;
  border-top: 5px solid;
  z-index: 1;
}

.logoMC {
  grid-column: 1;
  font-family: 'Redaction 50';
  color: white;
  text-decoration: none;
  font-size: clamp(20px, 3vw, 27px);
}

.about {
  grid-column: 2;
  font-family: 'Redaction 50';
  font-size: clamp(15px, 3vw, 27px);
  color: white;
  text-decoration: none;
  text-align: end;
}

/* BODY */

body {
  background-color: #000000;
  display: inline-block;

}



.grille {
  display: block;
  padding: 5%;

}

@media (min-width:800px) {
  .grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5%;
    gap: 5px;
    position: fixed;
  }
}

/*
.grille {
  display: block;
  margin-top: 15px;
  place-items: center;
}

@media (min-width:425px) {
  .grille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
    place-items: center;
    padding: 30px;
    gap: 5%;
    position: fixed;
  }
}
*/

.grille2 {
  display: block;
  margin-top: 15px;
  position: absolute;
  place-items: center;
}

@media (min-width:425px) {
  .grille2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -20px;
    place-items: center;
    padding: 30px;
    gap: 5%;
    position: fixed;
  }
}

@media (min-width:800px) {
  .band {
    height: calc(99vh - 100px);
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

  }
}

.project {
  border-top: 1px solid;
  border-color: white;
  padding: 5%;
}

.projecttop {
  border-top: 1px solid;
  border-color: white;
  padding: 5%;
}

@media (min-width:800px) {
  .projecttop {
    border-color: black;
    padding: 5%;
  }
}

.aboutme {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
  margin-left: 30px;
  padding: 20px;
  gap: 5%;
  border-bottom: 1px solid;
  border-color: white;
}

@media (min-width:800px) {
  .aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    margin-left: 30px;
    padding: 20px;
    gap: 5%;
    border-bottom: 1px solid;
    border-color: white;
  }
}



/* txt */

h1 {
  font-family: 'Redaction 50';
  color: white;
  font-size: clamp(23px, 3vw, 27px);
  font-weight: lighter;
}

.abouttxt {
  color: white;
  font-family: 'Redaction 35';
  font-size: medium;
}

.textaboutcontact {
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
}

.contact {
  font-family: 'Redaction 50';
  font-style: bold;
  color: white;
  font-size: 20px;
  display: block;


}

.contact:hover {
  color: rgb(21, 255, 0);
}

.link {
  color: white;
}

.link:hover {
  color: rgb(21, 255, 0);
}

.description {
  color: white;
  font-family: 'Redaction 10';
}

.notes {
  color: white;
  font-size: small;
}

.clignote {
  color: rgb(255, 255, 255);
  animation: clignote 2s linear infinite;
}

@keyframes clignote {
  50% {
    opacity: 0;
  }
}

/* HOVER */

.imgproject {
  place-items: center;
}


@media (min-width:425px) {
  .imgproject {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .2s ease-in-out;
  }
}

@media (min-width:425px) {
  .imgproject:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}