html {
    scroll-behavior: smooth;
}

body {
    color: black;
    gap: 4.5%;
}

@font-face {
    font-family: 'Avara';
    font-weight: normal;
    src: url('Avara-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Avara';
    font-style: italic;
    src: url('Avara-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Avara';
    font-weight: 900;
    src: url('Avara-Black.woff2') format('woff2');
}

.entete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    padding: 20px;
}

.entete a {
    text-decoration: none;
    color: black;
    font-family: 'Avara';
    font-weight: bold;
}

.titre {
    text-decoration: none;
    color: black;
    text-align: left;
    grid-template-columns: 1;
    font-family: 'Avara';
    font-weight: 900;
    font-size: clamp(40px,6vw,60px);
}

.titre:hover{
    color: blue;
}

.sous-titre {
    text-decoration: none;
    color: black;
    text-align: left;
    grid-row-start: 2;
    font-family: 'Avara';
    font-weight: bold;
    font-style: italic;
    font-size: clamp(30px,5vw,45px);
    margin-top: -15px;
    margin-left: 60px;
}

.sous-titre:hover{
    color: rgb(255, 0, 140);
}

.contact {
    text-align: right;
    font-weight: bold;
    font-size: clamp(7px,3vw,16px);
}

.contact:hover{
    color: rgb(255, 115, 0);
}

.à-propos {
    text-align: right;
    align-self: center;
    font-weight: bold; 
    font-size: clamp(7px,3vw,16px);
}

.à-propos:hover{
    color: rgb(162, 0, 255);
}

.index {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 4%;
    padding : 30px; 
    margin-top: 50px;
    max-width: 1920px;
}

@media (min-width:660px){
    .index{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.projet{
    grid-column: 1/4;
    font-family: 'Avara';
    font-weight: bold;
    font-size: clamp(20px,5vw,35px);
    margin-bottom: -13px;
}

.name{
    grid-column: 1/4;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self:baseline;
    font-family: 'Avara';
    font-style: italic;
    font-size: clamp(20px,5vw,35px);
    margin-top: 0px;
}

.about{
    grid-row-start: 3 ;
    grid-column: span 2;
    font-family: 'Avara';
    font-size: clamp (8px,3vw,16px);
    margin-top: 0px;
}

@media (min-width:660px){
    .about{
        grid-row-start: 2;
        grid-column-start: 3 ;
        grid-column: 3/5;
    }
}

img {
    display: block;
    max-width: 100%;
    border: 2px solid;
    border-radius: 200px;
    border-color: rgb(255, 255, 255);
}

.item-h {
    grid-column: span 2;
}

.item-v {
    grid-row: span 2;
}

.item-cube {
    grid-column: span 2;
    grid-row: span 2;
}



