html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Redaction 50';
    src: url('typo/Redaction_50-Regular.woff2') format('woff2');
    font-weight: normal;
}

.img {
    max-height: 100%;
    width: auto;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    margin-top: 0px;
    display: inline-block;
}


.header {
    display: grid;
    width: 100%;
    grid-template-columns: 50px 80px 60px 60px;
    gap: 3px;
    font-family: 'Redaction_50-Regular';
    background: linear-gradient(black, transparent);
    position: fixed;
    border-top: 10px solid ;
}


.logo {
    max-height: 50%;
    width: auto;
    margin-top: Opx;
}

.logoétoile {
    max-height: 50%;
    width: auto;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.contact {
    font-family: 'Redaction 50';
    text-decoration: none;
    color: white;
    grid-column-start: -3;
    font-size: 15px;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 10px ;
}

.à-propos {
    text-decoration: none;
    font-family: 'Redaction 50';
    color: white;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 15px;
}

.nav {
    display: grid;
    width: 123%;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-left: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 2px solid;
    border-color: white;
    border-top:2px solid;
}

.navdesign {
    display: block;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Redaction 50';
    font-size: clamp(16px, 3vw, 25px);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navphoto {
    display: block;
    text-decoration: none;
    font-family: 'Redaction 50';
    color: rgb(255, 255, 255);
    font-size: clamp(16px, 3vw, 25px);
    text-align: end;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav2 {
    display: grid;
    width: 123%;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-left: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 2px solid;
    border-color: white;
}


.rangée1 {
    margin:15px;
    margin-top: 70px;
    max-height: 100%;
    display: block;
}

@media (min-width:560px) {
    .rangée1 {
        margin:15px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 14.5%;
    }
}

.rangée2 {
    margin:15px;
    margin-top: 70px;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;  
}

@media (min-width:560px) {
    .rangée2 {
        margin:15px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 14%;
    }
}

.rangée3 {
    margin:15px;
    margin-top: 70px;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;  
}

@media (min-width:560px) {
    .rangée3 {
        margin:15px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 12%;
    }
}


.imgindex {
    display: block;
    width: 100%;
}

.imgindex {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.imgindex:hover  {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
} 

.text1
