body{
    background:rgb(0, 0, 0);
    color: white;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
}

.titre{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    margin: 20px;

}

.system{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 200;
    margin: 20px;
    }

img{
    display:block;
    max-width: 80%;
    margin: 20px;
    border: 10px solid;
    border-color: white;
}
